{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- About Us Page -->

<title> The BUDG€T BU$T€R$ </title>

<body>

    <div class="container main-container my-auto">
      <div class="row text-center">
          <div class="col-12 py-4">
              <h1> Meet the BUDG€T BU$T€R$! </h1>
          </div>


          <div class=" col-md-6 col-sm-12" id="anny">
              <a href="https://www.linkedin.com/in/anny-devoy-09a58950/">
                  <img src="/static/media/about-us-anny.png" alt="Anny's Image" class="img-fluid rounded-circle avatar">
              </a>
              <p class="about-card-text customize-button w-100">Anny
                <a href="https://www.linkedin.com/in/anny-devoy-09a58950/">
                    <i class="fab fa-linkedin"></i>
                </a>
          </div>

          <div class=" col-md-6 col-sm-12" id="bekry">
              <a href="https://www.linkedin.com/in/bekry-mohammed/">
                  <img src="/static/media/about-us-bekry.jpg" alt="Bekry's Image" class="img-fluid rounded-circle avatar">
              </a>
              <p class="about-card-text customize-button w-100">Bekry
                <a href="https://www.linkedin.com/in/bekry-mohammed/">
                    <i class="fab fa-linkedin"></i>
                </a>
              </p>
          </div>

          <div class=" col-md-6 col-sm-12" id="jakub">
              <a href="https://www.linkedin.com/in/jakub-bulejcik-334474106/">
                  <img src="/static/media/about-us-jakub.jpg" class="img-fluid rounded-circle avatar">
              </a>
              <p class="about-card-text customize-button w-100">Jakub
                <a href="https://www.linkedin.com/in/jakub-bulejcik-334474106/">
                    <i class="fab fa-linkedin"></i>
                </a>
              </p>
          </div>

            <div class=" col-md-6 col-sm-12" id="richard">
                <a href="https://www.linkedin.com/in/richardmarles-webdeveloper/">
                    <img src="/static/media/about-us-richard.png" class="img-fluid rounded-circle avatar">
                </a>
                <p class="about-card-text customize-button w-100">Richard
                    <a href="https://www.linkedin.com/in/richardmarles-webdeveloper/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </p>
            </div>

            <div class=" col-md-6 col-sm-12" id="russ">
                <a href="https://www.linkedin.com/in/russellstanleysmith/">
                    <img src="/static/media/about-us-russ.jpg" class="img-fluid rounded-circle avatar">
                </a>
                <p class="about-card-text customize-button w-100">Russ
                <a href="https://www.linkedin.com/in/russellstanleysmith/">
                    <i class="fab fa-linkedin"></i>
                </a>
                </p>
            </div>

            <div class=" col-md-6 col-sm-12" id="sam">
                <a href="https://www.linkedin.com/in/sam-o-brien-olinger-b658283a/">
                    <img src="/static/media/Sam.jpg" class="img-fluid rounded-circle avatar">
                </a>
                <p class="about-card-text customize-button w-100">Sam
                <a href="https://www.linkedin.com/in/sam-o-brien-olinger-b658283a/">
                    <i class="fab fa-linkedin"></i>
                </a>
                </p>
            </div>

      </div>
  </div>

{% endblock %}