.logo-container {
  position: relative;
}

img {
    vertical-align: middle;
    max-height: 175px;
    position: relative;
    animation: mymove forwards;
    animation-duration: 5s;
    margin-bottom: 145px;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }

/* img {
    height: 175px;
    position: relative;
    animation: myfirst 5s 1;
    animation-direction: normal;
  }
  
  @keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    25%  {left: 200px; top: 0px;}
    50% {left: 200px; top: 200px;}
    75%  {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
  } */

h1 {
    position: absolute;
    margin-left: 13%;
    font-family: fantasy;
    color: cadetblue;
}

/* #footer-container p,
#footer-container ul {
  margin: 2rem;
  font-size: 20px;
} */

#footer-container {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: 16px; /* Set the font size for the <p> element */
  margin: 0; /* Remove default margin */
  color:cadetblue;
}

.footer-text a:hover {
    color: rgb(9, 102, 14)
}

ul.social-networks {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center the <ul> vertically */
  justify-content: center; /* Center the <ul> horizontally */
}

ul.social-networks li {
  margin-right: 20px; /* Adjust spacing between social icons as needed */
  font-size: 30px;
}

ul.social-networks a {
  text-decoration: none;
  color:cadetblue; /* Add your preferred link color */
}

ul.social-networks a:hover {
  color: rgb(9, 102, 14);
}

/* .icons {
    margin-left: 13%;
} */

/* .container {
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 50px;
} */

/* footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;

}

#footer-font {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem
}

ul.social-networks {
  max-width: 50vw;
  list-style-type: none;
  margin: 50px auto;
  padding: 0;
  text-align: center;
  background-color: cadetblue;
  display: inline-block;
}

ul.social-networks li {
  display: inline-block;
  width: 20%;
  font-size: 4.5vmin;
  color: whitesmoke
}

ul.social-networks a {
  text-decoration: none;
  border-bottom: 0;
  color: whitesmoke;
} */
