.logo-container {
  position: relative;
}

img {
  vertical-align: middle;
  max-height: 175px;
  position: relative;
  animation: mymove forwards;
  animation-duration: 5s;
  margin-bottom: 145px;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}

/* img {
    height: 175px;
    position: relative;
    animation: myfirst 5s 1;
    animation-direction: normal;
  }
  
  @keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    25%  {left: 200px; top: 0px;}
    50% {left: 200px; top: 200px;}
    75%  {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
  } */

h1 {
  font-size: 4rem;
  font-family: fantasy;
  color: cadetblue;
}

.icons {
  margin-left: 13%;
}

.navbar {
  background-image: url("/static/media/Version3_BrandNameOnly.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

