@keyframes spin { 
  0%{
    transform: rotateY(0deg);
  }
   50%{
    transform: rotateY(360deg);
   }

  100%{
    transform: rotateY(0deg);
  }
}


.logo-container {
  position: relative;

}

.logo {
  position: absolute;
  vertical-align: middle;
  max-height: 175px;
  position: relative;
  transform: rotateY(0deg);
  animation-name: spin;
  animation-duration:  2s;
}



/* 
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
} */



/* img {
    height: 175px;
    position: relative;
    animation: myfirst 5s 1;
    animation-direction: normal;
  }

  @keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    25%  {left: 200px; top: 0px;}
    50% {left: 200px; top: 200px;}
    75%  {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
  } */

h1 {
  font-size: 4rem;
  font-family: fantasy;
  color: cadetblue;
}

/* #footer-container p,
#footer-container ul {
  margin: 2rem;
  font-size: 20px;
} */

#footer-container {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: 16px; /* Set the font size for the <p> element */
  margin: 0; /* Remove default margin */
  color:cadetblue;
}

.footer-text a:hover {
    color: rgb(9, 102, 14)
}

ul.social-networks {
  list-style: none;
  padding: 20px;
}

/*NAV CSS*/
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center the <ul> vertically */
  justify-content: center; /* Center the <ul> horizontally */
}

ul.social-networks li {
  margin-right: 20px; /* Adjust spacing between social icons as needed */
  font-size: 30px;
}

ul.social-networks a {
  text-decoration: none;
  color:cadetblue; /* Add your preferred link color */
}

ul.social-networks a:hover {
  color: rgb(9, 102, 14);
}

/* .icons {
    margin-left: 13%;
} */

/* .container {
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 50px;
} */

/* footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  gap: 20px;
}
.nav-container{
  width: 80%;
  display: flex;
  justify-content: center;
}
.nav > li:hover {
background-color: transparent;
border: 1px green solid;
}

.nav > li:hover a{
  color: green;
}
.nav >li >a{
  color: rgb(25, 66, 13);
  font-size: 2rem;
}



/*END NAV CSS*/

/*ICONS CSS*/


.image-icon > img{
  max-width:50%;
  max-height: 50%;
}

.image-icon{
  margin: 0 auto;
  max-width: 150px;
  height: max-content;
}

.icon-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 60%;
}

.icon-text > h3 {
  margin: 10px auto;
  color: rgb(25, 66, 13);
}

@media (max-width:768px){
  .icon-container{
    width: 80%;
  }
}


/*END ICONS CSS*/
.container {
  width: 80%;
  align-items: center;

}

#footer-container {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: 16px; /* Set the font size for the <p> element */
  margin: 0; /* Remove default margin */
  color:cadetblue;
}

.footer-text a:hover {
    color: rgb(9, 102, 14)
}

ul.social-networks {
  list-style: none;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center the <ul> vertically */
  justify-content: center; /* Center the <ul> horizontally */
}

ul.social-networks li {
  margin-right: 20px; /* Adjust spacing between social icons as needed */
  font-size: 30px;
}

ul.social-networks a {
  text-decoration: none;
  color:cadetblue; /* Add your preferred link color */
}

ul.social-networks a:hover {
  color: rgb(9, 102, 14);
}
