.logo-container {
  position: relative;
}

img.img {
    vertical-align: middle;
    max-height: 175px;
    position: relative;
    animation: mymove forwards;
    animation-duration: 5s;
    margin-bottom: 145px;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }

/* img {
    height: 175px;
    position: relative;
    animation: myfirst 5s 1;
    animation-direction: normal;
  }
  
  @keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    25%  {left: 200px; top: 0px;}
    50% {left: 200px; top: 200px;}
    75%  {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
  } */

h1 {
    position: absolute;
    margin-left: 13%;
    font-family: fantasy;
    color: cadetblue;
}

.icons {
    margin-left: 13%;
}

.navbar{
  background-image: url("/static/media/Version3_BrandNameOnly.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Icons */
.icon-container {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
}

.image-container {
  width: 25%;
  border-radius: 25%;
}
.image-icon {
  display: flex;
  width: 40%;
  height: 70%;
  margin: auto;
  align-items: end;
}

.icon-text {
  list-style-type: none;
  text-decoration: none !important;
  color: #FFFFFF;
}

h3 {
  font-size: medium;
  margin: auto;
  padding: 5px;
  color: black;
}

