/*Globals*/
p, label{
  font-size: 1.8rem;
}


body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  background:  url("/static/media/bgimg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-profile {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.47);
}

.title {
  text-align: center;
  margin: 10px auto;
  font-family: fantasy;
  font-size: 4rem;
  color: cadetblue;
}
h2{
  margin: 0;
  color:#9B9B9B;
}
.no-expenses{
  margin-top: 10px;
}

.budget-section,
.expenses-section,
.summary-section {
  /* background: #fff; */

  margin: 10px 0;
}

input[type="number"] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  font-size:large;
}

input[type="submit"],button[type="submit"] {
  font-size: 2rem;
  width: 200px;
  padding: 10px;
  background: #427d2a;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
input[type="submit"]:hover,button[type="submit"]:hover{
  background: transparent;
  color: black;
  border: #427d2a solid 1px;
  box-shadow: #333 2px 3px 3px;
  scale: 0.9;
  transition: all 0.2s ease-in-out;
}
select{
  padding: 10px;
}
.expense-input{
  padding: 10px 0 10px;
}


.form-container{
  display: flex;
  padding: 10px;
  border-right: solid 2px #8B572A;
}

@media (max-width:768px){
  .container-profile{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container{
    border: none;
  }
  .expense-input{
    display: grid;
  }
  input[type="number"] {
    width: 100%;
  }
}

/*EXPENSES PAGE ________________________*/

form{

}

.header-table{

}
.summary-section{
  
}