/*Utilities*/
.display-block{
    display:flex;
    flex-direction:column !important;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.text-center{
    margin: 0 auto;
    text-align: center;
}

.sing-in-container{
    margin: 0 auto;
    max-width: 80%;
    width: fit-content;
    background-color: #9c1515;
    background:linear-gradient(to top left ,rgb(21, 73, 28), rgb(205, 233, 215)60%);;
    text-align: center;
    padding: 80px;
    border: solid black 1px;
    box-shadow: 3px 2px 4px gray;
}


.form-title{
    font-family: fantasy;
    color: cadetblue;
    font-size: 5rem;
    text-shadow: white 3px 2px 2px;
}
.sign-up-text{
    margin: 10px auto;
    max-width: 300px;
  
}
.signup{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end;
}
.signup > button[type="submit"], .button > button[type="submit"]{
    margin: 0 auto;
    align-items: flex-end;
    justify-content:center;
    font-size: 2rem;
}

@media (max-width:768px){
    .sing-in-container{
        margin-bottom: 20px;
        padding: 50px;
    }
    .signup > p{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:530px){
    .sing-in-container{
        margin-bottom: 20px;
        padding: 70px;
    }
    .signup{
        display: grid;
        justify-content: center;
        place-content: center;
        padding: 15px;
    }
}