/*Utilities*/
.display-block{
    display:flex;
    flex-direction:column !important;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.text-center{
    margin: 0 auto;
    text-align: center;
}

.sing-in-container{
    margin: 0 auto;
    width: fit-content;
    background:linear-gradient(to top left ,rgb(21, 73, 28), rgb(205, 233, 215)60%);;
    text-align: center;
    padding: 100px;
    border: solid black 1px;
    box-shadow: 3px 2px 4px gray;
}

.form-title{
    font-family: fantasy;
    color: cadetblue;
    font-size: 5rem;
    text-shadow: white 3px 2px 2px;
}
.sign-up-text{
    margin: 10px auto; 
}
.signup > p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="password"]{
    padding: 10px;
    width: 70%;
}

.signup  input{
    padding: 10px;
    width: 100%;
}

@media (max-width:768px){
    .sing-in-container{
        margin-bottom: 20px;
        padding: 50px;
    }
}

@media (max-width:530px){
    .sing-in-container{
        width: 90%;
        padding:20px;
        max-width: 100%;
    }
    .login > p {
        margin:0 auto ; 
        display:grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        
    }
    input[type="password"],input[type="text"]{
        padding: 10px;
        width: 100%;
    }
   
}