
{% extends "base.html" %}
{% load static %}

{% block content %}
    {% for c in categories %}
        {{ c.friendly_name }}
    {% endfor %}

    <div class="container">
        <h1>Personal Budget App</h1>

        <div class="budget-section">
            <h2>Enter Your Monthly Budget</h2>
            <input type="number" id="totalBudget" placeholder="Enter Total Budget">
        </div>

        <div class="expenses-section" method="post" action="{% url 'expense' %}">
            <h2>Monthly Expenses</h2>
            <div id="expenseInputs">
                <div class="expense-input">
                    <label>Category:</label>
                    <input type="text" class="expenseCategory" placeholder="Enter category">
                    <label>Amount:</label>
                    <input type="number" class="expenseAmount" placeholder="Enter amount">
                </div>
            </div>
            <button onclick="addExpenseInput()">Add Another Expense</button>
        </div>

        <button onclick="calculateBudget()">Calculate</button>

        <div class="summary-section">
            <h2>Budget Summary</h2>
            <!-- Hidden input to include the category name in the form submission -->
            <input type="hidden" name="category_name" value="{{ c.friendly_name }}">
            <p id="totalExpenses">Total Expenses: </p>
            <p id="remainingBudget">Remaining Budget: </p>
        </div>
    </div>
{% endblock %}
