{% load static %}

{% block content %}

<!-- About Us Page -->

<title> The BUDG€T BU$T€R$ </title>

<body>

    <div class="container main-container my-auto">
      <div class="row text-center">
          <div class="col-12 py-4">
              <h1> Meet the BUDG€T BU$T€R$! </h1>
          </div>
          
          <!-- <div class=" col-md-6 col-sm-12" id="anna">
            <a href="https://www.linkedin.com/in/amirhosseinbayani/">
                <img src="assets/images/images-about-us/v2/amir.jpg" alt="Amir's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text customize-button w-100">
                Anna
                <a href="https://www.linkedin.com/in/amirhosseinbayani/">
                    <i class="fab fa-linkedin"></i>
            </p>
        </div> -->

          <!-- <div class=" col-md-6 col-sm-12" id="anny">
              <a href="https://www.linkedin.com/in/armandourquiola/">
                  <img src="assets/images/images-about-us/v2/armando.jpg" alt="Armando's Image" class="img-fluid rounded-circle avatar">
              </a>
              <p class="about-card-text customize-button w-100">Armando
                <a href="https://www.linkedin.com/in/armandourquiola/">
                    <i class="fab fa-linkedin"></i>
                </a>
          </div> -->

          <div class=" col-md-6 col-sm-12" id="bekry">
              <a href="https://www.linkedin.com/in/bekry-mohammed/">  
                  <img src="/static/media/about-us/about-us-bekry.jpg" alt="Bekry's Image" class="img-fluid rounded-circle avatar">
              </a>
              <p class="about-card-text customize-button w-100">Bekry
                <a href="https://www.linkedin.com/in/bekry-mohammed/">
                    <i class="fab fa-linkedin"></i>
                </a>
              </p>
          </div>
  
          <div class=" col-md-6 col-sm-12" id="jakub">
              <a href="https://www.linkedin.com/in/jakub-bulejcik-334474106/">
                  <img src="/static/media/about-us/about-us-jakub.jpg" class="img-fluid rounded-circle avatar">
              </a>
              <p class="about-card-text customize-button w-100">Jakub
                <a href="https://www.linkedin.com/in/jakub-bulejcik-334474106/">
                    <i class="fab fa-linkedin"></i>
                </a>
              </p>
          </div>

          <div class=" col-md-6 col-sm-12" id="sam">
            <a href="https://www.linkedin.com/in/sam-o-brien-olinger-b658283a/">
                <img src="/static/media/about-us/Sam.jpg" alt="Sam's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text customize-button w-100">Sam
                <a href="https://www.linkedin.com/in/sam-o-brien-olinger-b658283a">
                    <i class="fab fa-linkedin"></i>
                </a>
            </p>
        </div>
    </div>
      </div>
  </div>

{% endblock %}