{% load static %}

{% block content %}

<!-- About Us Page -->

<title> The BUDG€T BU$T€R$ </title>

<body>

    <div class="container main-container my-auto">
      <div class="row text-center">
          <div class="col-12 py-4">
              <h1>Meet the BUDG€T BU$T€R$!</h1>
          </div>
  
          <!-- Top row: -->
          
          <div class=" col-md-6 col-sm-12" id="anna">
            <!-- <a href="https://www.linkedin.com/in/amirhosseinbayani/">
                <img src="assets/images/images-about-us/v2/amir.jpg" alt="Amir's Image" class="img-fluid rounded-circle avatar">
            </a> -->
            <!-- <p class="about-card-text customize-button w-100">
                Amirhossein
                <a href="https://www.linkedin.com/in/amirhosseinbayani/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/teman67">
                    <i class="fab fa-github"></i>
                </a>
            </p> -->
        </div>

          <div class=" col-md-6 col-sm-12" id="anny">
              <!-- <a href="https://www.linkedin.com/in/armandourquiola/">
                  <img src="assets/images/images-about-us/v2/armando.jpg" alt="Armando's Image" class="img-fluid rounded-circle avatar">
              </a>
              <p class="about-card-text customize-button w-100">Armando
                <a href="https://www.linkedin.com/in/armandourquiola/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/patchamama">
                    <i class="fab fa-github"></i>
                </a>
              </p> -->
          </div>
          <div class=" col-md-6 col-sm-12" id="bekry">
              <!-- <a href="https://www.linkedin.com/in/pkarolisdev/">  
                  <img src="assets/images/images-about-us/v2/karolis.jpg" alt="Karolis's Image" class="img-fluid rounded-circle avatar">
              </a>
              <p class="about-card-text customize-button w-100">Karolis
                <a href="https://www.linkedin.com/in/pkarolisdev/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/kpetrauskas92">
                    <i class="fab fa-github"></i>
                </a>
              </p> -->
          </div>
  
          <!-- Bottom row: -->
          <div class=" col-md-6 col-sm-12" id="jacob">
              <!-- <a href="https://www.linkedin.com/in/sam-o-brien-olinger-b658283a/">
                  <img src="assets/images/images-about-us/v2/sam.jpg" alt="Sam's Image" class="img-fluid rounded-circle avatar">
              </a>
              <p class="about-card-text customize-button w-100">Sam
                <a href="https://www.linkedin.com/in/sam-o-brien-olinger-b658283a/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/SamOBrienOlinger">
                    <i class="fab fa-github"></i>
                </a>
              </p> -->
          </div>
          <div class=" col-md-6 col-sm-12" id="taher">
            <a href="https://www.linkedin.com/in/taher-m/">
                <img src="assets/images/images-about-us/v2/taher.jpg" alt="Taher's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text customize-button w-100">Taher
                <a href="https://www.linkedin.com/in/taher-m/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/TaherCCG">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        <div class="d-none d-lg-block col-md-6 col-sm-12" id="santa">
            <img src="assets/images/images-about-us/v2/santa.png" alt="santa" class="img-fluid img-fluid rounded-circle avatar">
        <p class="about-card-text customize-button w-100">Santa</p>

    </div>
      </div>
  </div>
  

    <footer class="text-center text-lg-start text-white" style="background-color: #980505">

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="https://github.com/kpetrauskas92/team9-hackathon-december">The North Pole Nodes</a>
        </div>
    </footer>
</body>
</html>



{% endblock %}