{% load static %}

{% block content %}

 <!-- Footer -->
 <footer>
  <div id="footer-container">
    
    <ul class="social-networks">
      <li>
        <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Share to Facebook">
          <i class="fab fa-facebook"></i>
        </a>
      </li>     
      <li>
        <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>

    <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram">
      <p class="footer-text", class="ul.social-networks a:hover">&copy; <span id="copyrightYear"></span> BUDG€T BUST€R$ 2024</p>
    </a>
  </div>
</footer>


 <!-- <footer>
  <span id="footer-font">

    <p>  &copy; <span id="copyrightYear"></span> BUDG€T BUST€R$ 2024 </p>

    <ul class="social-networks">
      <li>
        <a href="https://facebook.com" target="_blank" rel="noopener"
            aria-label="Visit our Facebook">
          <i class="fab fa-facebook">
          </i>
        </a>
      </li>
      <li>
        <a href="https://youtube.com" target="_blank" rel="noopener"
            aria-label="Visit our YouTube">
          <i class="fab fa-youtube-square">
          </i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com" target="_blank" rel="noopener"
            aria-label="Visit our Instagram">
          <i class="fab fa-instagram">
          </i>
        </a>
      </li>
    </ul>   
  </span>
  
  </div>
    
  </footer> -->
  <!-- font awesome script  -->
  <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous">
  </script>

{% endblock %}