{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="">
    {% endblock %}

    {% block extra_css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

    {% block corejs %}
        <!-- JS Scripts -->
    {% endblock %}

    {% block extra_js %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    {% endblock %}

    <title>Budget Busters {% block extra_title %}{% endblock %}</title>
</head>
<body>

  {% include 'includes/header.html' %}

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

</body>
</html>